In [1]:
import pandas as pd
import numpy as np

In [3]:
# TIMES
rng = pd.date_range('2016 Jul 1 10:15', periods = 10, freq = 'D')
rng

DatetimeIndex(['2016-07-01 10:15:00', '2016-07-02 10:15:00',
               '2016-07-03 10:15:00', '2016-07-04 10:15:00',
               '2016-07-05 10:15:00', '2016-07-06 10:15:00',
               '2016-07-07 10:15:00', '2016-07-08 10:15:00',
               '2016-07-09 10:15:00', '2016-07-10 10:15:00'],
              dtype='datetime64[ns]', freq='D')

In [14]:
# Which of these formats DON'T work?
#'2016 Jul 1', '7/1/2016', '1/7/2016', 'July 1, 2016', '2016-07-01', '2016/07/01'
pd.date_range('1/7/2016 10:15', periods = 10, freq = 'D')

DatetimeIndex(['2016-01-07 10:15:00', '2016-01-08 10:15:00',
               '2016-01-09 10:15:00', '2016-01-10 10:15:00',
               '2016-01-11 10:15:00', '2016-01-12 10:15:00',
               '2016-01-13 10:15:00', '2016-01-14 10:15:00',
               '2016-01-15 10:15:00', '2016-01-16 10:15:00'],
              dtype='datetime64[ns]', freq='D')

They all work, but 1/7/2016 is read as being January 7th.

In [ ]:
# Is '7/1/2016 in January or July?
July

In [16]:
# What is the class of an individual object held in the date_range?
type(rng[2])

pandas.tslib.Timestamp

In [17]:
# TIME STAMPS VS TIME SPANS
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [18]:
# You can also more details 
pd.Timestamp('2016-07-10 10')

Timestamp('2016-07-10 10:00:00')

In [19]:
# Or even more...
pd.Timestamp('2016-07-10 10:15')

Timestamp('2016-07-10 10:15:00')

In [24]:
# How much detail can you add?
pd.Timestamp('2016-07-10 10:15:24.123456789 PM') #can go to microsecond precision, note that it went from PM to standard time

Timestamp('2016-07-10 22:15:24.123456')

You can also specifiy the frequency as Hour ('H'), Month ('M') - this goes to end of month, 'MS' for start, 'B' for business days. '8H' will do periods of 8 hours and if you put a negative ('-8H'), it will count backwards.

Instead of specifiying n periods, you can also specify an end time with your start time. Normalize = true will set all dates to start at midnight (ignoring any time data), and you can also set time zone ('tz =')

In [28]:
# What are some properties of timestamps? Try them out.
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components
t = pd.Timestamp('2017-06-6 10:15')
t.dayofweek #note that this was a Tuesday, so Monday = 0, Sunday = 6

1

In [29]:
t.weekday_name

'Tuesday'

In [30]:
t.quarter

2

In [31]:
t.is_leap_year #basically, look at the documentation; there are tons of options, including boolean choices.

False

In [32]:
# TIME SPANS
pd.Period('2016-01')

Period('2016-01', 'M')

In [ ]:
# What's that extra info above? How does it get set?

It comes from the smallest precision of the date.

In [33]:
pd.Period('2016-01-01')

Period('2016-01-01', 'D')

In [34]:
pd.Period('2016-01-01 10')

Period('2016-01-01 10:00', 'H')

In [35]:
pd.Period('2016-01-01 10:10')

Period('2016-01-01 10:10', 'T')

In [36]:
pd.Period('2016-01-01 10:10:10')

Period('2016-01-01 10:10:10', 'S')

In [42]:
# What's the most detailed Period you can get?
pd.Period('2016-01-01 10:10:10.00000001') #Microsecond, beyond that it reverts to 'seconds'

Period('2016-01-01 10:10:10', 'S')

In [43]:
# How can you make multiple time periods? 
# Hint look for analogy with pd.date_range() above
pd.period_range('2016-1-1', freq = '4H', periods = 6)

PeriodIndex(['2016-01-01 00:00', '2016-01-01 04:00', '2016-01-01 08:00',
             '2016-01-01 12:00', '2016-01-01 16:00', '2016-01-01 20:00'],
            dtype='period[4H]', freq='4H')

In [44]:
# TIME OFFSETS
pd.Timedelta('1 day')

Timedelta('1 days 00:00:00')

In [45]:
pd.Period('2016-01-01 10:10') + pd.Timedelta('1 day')

Period('2016-01-02 10:10', 'T')

In [46]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('1 day')

Timestamp('2016-01-02 10:10:00')

In [47]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('15 ns')

Timestamp('2016-01-01 10:10:00.000000015')

In [48]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('15 ns')*4

Timestamp('2016-01-01 10:10:00.000000060')

In [49]:
# FANCY FREQUENCY SETTING
# Only want business days
pd.period_range('2016-01-01 10:10', freq = 'B', periods = 10)

PeriodIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
             '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
             '2016-01-13', '2016-01-14'],
            dtype='period[B]', freq='B')

In [50]:
# It's possible to combine frequencies. What if you want to advance by 25 hours each day. What are the 2 ways to do it?
p1 = pd.period_range('2016-01-01 10:10', freq = '25H', periods = 10)

In [51]:
p2 = pd.period_range('2016-01-01 10:10', freq = '1D1H', periods = 10)

In [52]:
p1

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [53]:
p2

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [55]:
# What are some other combos you can produce?
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases
t + pd.Timedelta('1D 4M 3us')

Timestamp('2017-06-07 10:19:00.000003')

In [56]:
# INDEXING WITH TIME OBJECTS
# You can use these objects for indices
# Let's start with using a date range as above
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng
pd.Series(range(len(rng)), index = rng)

2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int32

In [57]:
# You can also use time period indices, in cases where it makes more sense 
# to think about your index as a time span rather than a single point in time

periods = [pd.Period('2016-01'), pd.Period('2016-02'), pd.Period('2016-03')]
ts = pd.Series(np.random.randn(len(periods)), index = periods)
ts

2016-01    1.255789
2016-02    0.346627
2016-03   -0.317007
Freq: M, dtype: float64

In [58]:
# What type is the index for ts?
type(ts.index)

pandas.tseries.period.PeriodIndex

In [60]:
# Experiment with various indices
# Hint: does ts['2016'] work? 
ts['2016-02']

0.34662666276850718

In [61]:
ts['2016']

2016-01    1.255789
2016-02    0.346627
2016-03   -0.317007
Freq: M, dtype: float64

In [62]:
# Timestamped data can be convereted to period indices with to_period and vice versa with to_timestamp
ts = pd.Series(range(10), pd.date_range('07-10-16 8:00', periods = 10, freq = 'H'))
ts

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int32

In [63]:
ts_period = ts.to_period()
ts_period

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int32

In [64]:
ts_period['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of overlap with time periods

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
Freq: H, dtype: int32

In [65]:
ts['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of include with timestamps

2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
Freq: H, dtype: int32

In [70]:
#can also do boolean check
p = pd.Period('6/2017')
p.start_time < t and p.end_time > t

True

In [69]:
t

Timestamp('2017-06-06 10:15:00')

In [71]:
# or, more concisely
p.start_time < t < p.end_time

True

In [72]:
# converting to European Dates
pd.to_datetime('4/3/2016', dayfirst = True)

Timestamp('2016-03-04 00:00:00')

In [76]:
t.strftime(format = '%D') #turning timestamp to a string

'06/06/17'

In [77]:
t.strftime(format = '%Y')

'2017'